<div>
  <div>
    <h1>Complete Protection • Save Tax upto Rs70,200*</h1>
  </div>
  <div>
    <nav class="navbars">
      <a routerLink="insurance/health" routerLinkActive="active">Health</a>
      <a routerLink="insurance/term" routerLinkActive="active">Term</a>
      <a routerLink="insurance/investment" routerLinkActive="active">Investment</a>
      <a routerLink="insurance/child" routerLinkActive="active">Child</a>
      <a routerLink="insurance/pension" routerLinkActive="active">Pension</a>
      <a routerLink="insurance/travel" routerLinkActive="active">Travel</a>
    </nav>
  </div>
</div>
<hr/>


